.form_header {
  display: flex;
  flex: 2;
  font-family: "Kanit", sans-serif;
  flex-direction: column;
  align-items: center;
}

.text_header {
  font-size: 40px;
  margin: 0;
  /* font-family: "Kanit", sans-serif; */
}

.text_label {
  font-size: 15px;
  color: rgb(147, 147, 147);
  margin: 0 0 40px 0;
  /* font-family: "Kanit", sans-serif; */
}
